body {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.content #kaomoji {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 5vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 3vh;
    color: var(--main-color);
    max-width: 60vh;
}

.content h2 {
    font-size: 2vh;
    font-weight: 800;
    font-family: "Space Mono";
    text-align: justify;
}

#toHome {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Space Mono", serif;
    font-size: 1.8vh;
    font-weight: 600;
    margin-top: 2vh;
    padding: 0.8vh 1.5vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition-duration: 0.3s;
}