:root {
    overflow-y: hidden;
}


#map {
    height: 100%;
    padding: 0;
    border: none;
    margin: none;
    padding: 0;
    z-index: 0;
}
.content.mapholder {
    position: relative;
    height: 99.5vh;
    padding: 0;
    margin: 0;
}

.leaflet-container {
	font-family: "Space Mono", Poppins, Roboto, serif;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5;
	}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
        font: bold 18px 'Space Mono', monospace;
        }

.leaflet-control-zoom-in {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    }

.leaflet-control-zoom-out {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.leaflet-control-zoom-out, .leaflet-control-zoom-in {
    background-color: var(--secondary-color) !important;
    color: var(--main-color) !important;
    }

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
        font-size: 27px;
        }

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border-radius: 8px;
    border: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

#menuOpen {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -1px;
    font-size: 21px;
    font-weight: bold;
    z-index: 2000 !important; 
    color: var(--main-color);
}

.menuButton {
    margin: 10px !important;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, var(--highlight-first), var(--highlight-second));
    transition-duration: 0.5s;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 8px;
    z-index: 1999 !important;
    transition-duration: 0.5s;
}

.menuButton:hover {
    filter:saturate(150%);
}

.leaflet-control-attribution.leaflet-control p {
    display: inline;
    background: linear-gradient(to right, var(--highlight-first), var(--highlight-second));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: brightness(2)

}

.leaflet-control-attribution.leaflet-control p:before {
    content: " | ";
}

.leaflet-control-attribution.leaflet-control {
    background-color: var(--secondary-color);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    z-index: 2000 !important;
    height: 17px;
    border-top-left-radius: 5px;
}

.leaflet-control-attribution.leaflet-control * {
    color: var(--main-color);
}

.leaflet-popup-content button {
    background-color: var(--tertiary-color);
    color: var(--main-color);
    font-family: "Space Mono", serif;
    font-size: 1.7vh;
    font-weight: 600;
    padding: 0.5vh 1vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition-duration: 0.3s;
    margin-top: 2vh;
}

.leaflet-popup-content button:hover {
    filter: brightness(1.2);
}