body {
    background: linear-gradient(90deg, var(--highlight-first), var(--highlight-second));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ticket .ticketHeader h1 {
    font-family: "Space Mono", monospace;
    font-size: 3.2vh;
    font-weight: 600;
    margin: 0;
}

.ticket .ticketHeader h2 {
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    font-weight: 500;
    margin: 0;
    font-style: italic;
}

.ticket {
    background-color: var(--main-color);
    color: var(--secondary-color);
    max-width: 40vh;
    padding: 2vh;
    margin: 2vh;
    border-radius: 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2vh var(--secondary-color);
}

.logoHolder img {
    width: 30vh;
}

.ticket .ticketBottom {
    display: flex;
    flex-direction: row;
    height: 4vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.ticket .ticketBottom .references p {
    font-family: "Space Mono", serif;
    font-style: italic;
    font-size: 1.3vh;
    color: var(--tertiary-color);
    font-weight: 500;
    margin: 0;
}

.ticket .ticketBottom .references {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}

.ticket .ticketBottom button {
    background-color: var(--tertiary-color);
    color: var(--main-color);
    font-family: "Space Mono", serif;
    font-size: 1.7vh;
    font-weight: 600;
    padding: 0.5vh 1vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition-duration: 0.3s;
}

.ticket .ticketBottom button:hover {
    filter: brightness(1.2);
}

.ticket .codeHolder #barcode {
    width: 100%;
    height: 15vh;
    margin-top: 2vh;
}

.ticket .codeHolder #codeText {
    font-family: "Space Mono", serif;
    font-size: 2vh;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-top: -1vh;
}

.textOnly {
    font-size: 7vh !important;
    margin-top: 0.5vh !important;
    margin-bottom: 0.5vh !important;
}

.withCode {
    margin-bottom: 2vh !important;
    font-size: 2vh !important;
}